BODY, HTML {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.plot-main {
	width: 50%;
	height: 690px;
	float: left;
}
.plot-sub {
	width: 25%;
	height: 230px;
	float: left;
}
#controls {
	clear: both;
}
#controls P {
	width: 22%;
	float: left;
	margin-left: 40px;
}
#github {
	position: absolute;
	left: 1px;
	top: 1px;
}
#github A {
	display: block;
	float: left;
	line-height: 24px;
	padding: 0 10px;
	color: #FFF;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 0 1px 0 0;
}